[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/color-sampler-pack"]
	path = bundle/color-sampler-pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/widox/vim-buffer-explorer-plugin.git
